


// SPINNER loading
.spinner-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }



// FORMAT XS
@media (max-width:599px) {
    .chip-container {
        display:flex;
        justify-content:flex-end;
    }
    .content-container {
        margin-top: 95px;
    }
    mat-chip-list {
        margin-top: 80px;
        position: fixed;
        top: 0%;
        z-index:1;
      }
      mat-chip {
        font-size:small;
      }
    .header {
        background: transparentize($color: white, $amount: 0.3);
        margin-top: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        flex-direction: column;
    }
    .item-header {
        display: flex;
        justify-content:space-between ;
        align-items: center;
    }
    .logo {
        width: 100px;
        margin-left: 16px;
    }
    .slider {
        display: flex;
        align-items: center;
        margin-right: 16px;
    }
    .margin-flow {
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .content { 
        padding: 16px;
    }
    .grid {
        align-items: stretch;
    }
}

// FORMAT SM
@media (min-width:600px) {
    .chip-container {
        display:flex;
        justify-content: center;
    }
    .content-container {
        margin-top: 95px;
    }
    mat-chip-list {
        margin: 80px;
        position: fixed;
        top: 0%;
        z-index:1;
      }
      mat-chip {
        font-size:large;
      }
    .header {
        background: transparentize($color: white, $amount: 0.3);
        margin-top: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .item-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 100px;
        margin-left: 32px;
    }
    .slider {
        display: flex;
        align-items: center;
        margin-right: 32px;
    }
    .margin-flow {
        margin-top: 16px;
        margin-left: 32px;
        margin-right: 32px;
    }
    .content { 
        padding: 32px;
    }
    .grid {
        display: flex;
        flex-flow: row;
    }
    .card {
        flex-grow: 1;
        flex-grow: 1;
        flex-basis: auto;
    }
}

// CAROUSEL DISCOGS
.carousel {
    display: flex;
    flex-direction: column;
    background: transparentize($color: white, $amount: 0.3);
    margin-top: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}
p {
    margin-top: 8px;
}

.row-flow {
    overflow: auto;
    display: flex;
}
.column-elt {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    flex-wrap: wrap;
}
.column-elt img {
    height: 160px;
}

.label {
    font-weight: bold;
    color:darkblue;
    opacity: 0.8;
}

