<div class="chip-container" >
  <mat-chip-list aria-label="Fish selection" >
    <mat-chip color="primary" selected>Résultat de la recherche : {{keyword}}</mat-chip>
  </mat-chip-list>
</div>

<div *ngIf="loading" class="spinner-container">
  <mat-spinner color="accent"></mat-spinner>
</div>


<div class="content-container">
<div *ngIf="discogs.length>0 && !loading" class="carousel">
  <img class="logo" alt="logo Discogs" src='../../../assets/discogs-simplified.svg' />
  <div class="margin-flow">
    <div class="row-flow">
      <div *ngFor="let discog of discogs" class="column-elt">
        <img [src]="discog.thumb">
        <p>
          <span *ngIf="discog.title" class="label">Titre : </span>{{ discog.title }}
          <span *ngIf="discog.year" class="label">Année : </span>{{ discog.year }}
          <span *ngIf="discog.style" class="label">Style : </span>{{ discog.style }}
          <span *ngIf="discog.label" class="label">Label : </span>{{ discog.label}}
          <span *ngIf="discog.format" class="label">Support : </span>{{ discog.format?.slice(0,50) }}
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="extractWiki && !loading" class="header">
  <div class="item-header">
    <img class="logo" alt="logo Discogs" src='../../../assets/Wikipedia.svg' />
  </div>
  <div class="content">
    {{extractWiki}}
  </div>

</div>

<div *ngIf="videos.length>0 && !loading" class="header">
  <div class="item-header">
    <img class="logo" alt="logo Youtube" src='../../../assets/youtube.svg' />
    <div class="slider" fxShow fxHide.xs>
      <mat-label>Taille de la grille : </mat-label>
      <mat-slider [max]="8" [min]="1" [(ngModel)]="preference.matSliderValue"></mat-slider>
      <mat-icon [matBadge]="preference.matSliderValue" matBadgeColor="primary">view_module</mat-icon>
    </div>
  </div>

  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div class="grid" [fxFlex]="(100/preference.matSliderValue) + '%'" fxFlex.sm="33%" fxFlex.xs="100%"
        *ngFor="let video of videos; index as i;">
        <mat-card class="card" fxLayout="column" fxLayoutAlign="space-between stretch">
          <mat-card-header>
            <mat-card-title>{{ video.channelTitle }}</mat-card-title>
            <mat-card-subtitle>{{ video.publishedAt }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="video.thumbnail">
          <mat-card-content>
            <p>
              {{ video.title }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="openDialog(i)">LIRE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

</div>
</div>