<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div class="grid" [fxFlex]="(100/gridColumns) + '%'" fxFlex.sm="33%" fxFlex.xs="100%" *ngFor="let video of videos; index as i;">
         <mat-card class="card" fxLayout="column" fxLayoutAlign="space-between stretch" >
          <mat-card-header>
            <mat-card-title>{{ video.channelTitle }}</mat-card-title>
            <mat-card-subtitle>{{ video.publishedAt }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="video.thumbnail">
          <mat-card-content>
            <p>
              {{ video.title }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="openDialog(i)">LIRE</button>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>

     