@import 'variables.scss';

.popover-container {
    border-radius: 3px;
    background: $grey-100;
    box-shadow: $box-shadow;
    color: $grey-0;
    position: fixed;
    transform: translate(-50%, 7px);
    padding: 12px;
    z-index: $z-index-popover;
    font-size: 14px;
    &::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $grey-100;
        position: absolute;
        left: calc(50% - 5px);
        top: -5px;
      }
}