<mat-nav-list>

  <p *ngIf="!data.wiki && rating">Modifier le classement : 
    <app-star-rating [rating]="rating" (ratingUpdated)='updateVideo($event)'></app-star-rating>
  </p>
  <mat-accordion>
    <mat-expansion-panel *ngIf="!data.wiki" [expanded]="data.categorie === true">
      <mat-expansion-panel-header>
        <mat-panel-title>{{rating ? "Changer de categorie : " + data.video.categorie : "Ajouter à mes Favoris"}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="item-container">
        <mat-form-field class="item" appearance="fill">
          <mat-label>Catégories favorites existantes</mat-label>
          <input #input matInput list="id-categorie" [(ngModel)]="data.video.categorie">
          <datalist id="id-categorie">
            <option *ngFor="let categorie of categories" [value]="categorie">{{categorie}}</option>
          </datalist>
        </mat-form-field>
        <button *ngIf="!rating" class="item" mat-raised-button color="accent" (click)="addVideo(data)">+</button>
        <button *ngIf="rating" class="item" mat-raised-button color="accent" (click)="updateVideo(data)"><mat-icon>save</mat-icon></button>
      </div>
    </mat-expansion-panel>

  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel *ngIf="!data.categorie && data.video.extractWiki" [expanded]="data.wiki">
      <mat-expansion-panel-header>
        <img  src="assets/Wikipedia.svg" alt="logo Wikipedia" width="100px" />
      </mat-expansion-panel-header>
      {{data.video.extractWiki}}
    </mat-expansion-panel>
  </mat-accordion>

</mat-nav-list>