// FORMAT inférieur à XS
@media (max-width:599px) {
    .item-container {
        flex-direction: column;
    }
    .item {
        display:block;
        align-self:center;
    }
}

// FORMAT supérieur à SM
@media (min-width:600px) {
    .item-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }
    .item {
        flex-grow: 0;
        align-self:center;
    }
}

p {
    margin-left: 20px;
}
