<mat-nav-list>

  <app-star-rating *ngIf="rating != 0" [rating]="rating"></app-star-rating>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ajouter à mes Favoris
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>Catégorie</mat-label>
            <div  *ngIf="show">
              <div *ngFor="let categorie of categories" [value]="categorie" (click)="selectSuggestion(categorie)">{{categorie}}</div>
            </div>
            <input #input matInput (click)="suggest()" [(ngModel)]="data.video.categorie">

          </mat-form-field>


          <form>
            <mat-form-field appearance="fill">
              <mat-label>Catégories favorites existantes</mat-label>
              <mat-select [(ngModel)]="selectedCategorie" name="categorie">
                <mat-option *ngFor="let categorie of categories" [value]="categorie">
                  {{categorie}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <button mat-raised-button color="accent" (click)="addVideo(data)">+</button>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <img src="assets/Wikipedia.svg" alt="logo Wikipedia" width="100px" />
          </mat-expansion-panel-header>
                  {{data.video.extractWiki}}
        </mat-expansion-panel>
      </mat-accordion>

  </mat-nav-list>
