
// SPINNER loading
.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

// FORMAT inférieur à XS
@media (max-width:599px) {
/// HEADER
  .header {
    display: flex;
  }
  .item-header {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: rgb(240, 240, 240);
    width: 92%;
    margin-top: 56px;
    padding: 8px 16px;
  }
  .label-table {
    display: flex;
  }
  h1 {
    font-size:medium;
  }
  .label-table > *, input {
    margin: 0;
    align-self:center;
  }
/// CONTAINER
  .container {
    margin-top: 160px;
  }
  .entete-fixe {
    display: none;
  }
  mat-row::after {
    min-height: 0;
  }
  p {
   margin-top: 16px;
  }

  td.mat-cell {
    padding-right: 16px;
  }
  .hidden {
    display: none;
  }
}

// FORMAT supérieur à SM
@media (min-width:600px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: transparentize($color: white, $amount: 0.5);
    width: 90%;
    margin-bottom: 8px;
    margin-top: 92px;
  }
  .label-table > *, input {
    margin: 0;
    flex-grow: 0;
    align-self:center;
  }
  .label-table {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    //flex: 1 1 auto;
  }
  h1 { font-size:large; }

  .container {
      display: flex;
      justify-content: center;
      overflow: auto;
      max-height: 600px;
  }
  table {
      width: 90%;
  }
  
}




.detail-expanded {
    overflow: hidden;
}

.thumbnail {
    border-radius: 10px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    width: 160px;
    height: 90px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

.logo {
  width: 22px;
}

td > mat-icon {
  color:gold;
  width: 22px;
}

.detail-description-titre {
  color: hsl(0,0,60%)
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(240, 240, 240);
}
  
  
  .example-element-row td {
    border-bottom-width: 0;
  }

  tr.example-detail-row {
    height: 0;
  }

  .goupe-boutton {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
  }
  
 
  

  