<mat-accordion>

    <mat-expansion-panel class="mat-expansion-panel">

        <mat-expansion-panel-header>
            <mat-panel-title>
                <img src="assets/VideoCenter.svg" alt="logo VideoCenter" width="200px" />
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-expansion-panel id="RECHERCHE YOUTUBE" hideToggle class="mat-sub-expansion-panel"
        [expanded]="panelOpenState === true"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>RECHERCHE SUR YOUTUBE</mat-panel-title>
                <mat-panel-description>MaxResult, order by date or view...</mat-panel-description>
            </mat-expansion-panel-header>

            <form #myForm="ngForm" fxLayout="row" fxLayoutAlign="space-between stretch" >
                <mat-form-field>
                    <mat-label required>Recherche</mat-label>
                    <input #input matInput name="q" ngModel>
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Resultat Max</mat-label>
                    <input matInput type="number" min="1" max="24"  name="maxResults" ngModel>
                </mat-form-field>
    
                <mat-form-field>
                    <mat-select [(value)]="matSelectValue" name="order" ngModel>
                        <mat-option value="DATE">Date</mat-option>
                        <mat-option value="RATING">Rating</mat-option>
                        <mat-option value="RELEVANCE">Relevance default</mat-option>
                        <mat-option value="TITLE">Title</mat-option>
                        <mat-option value="VIDEOCOUNT">VideoCount</mat-option>
                        <mat-option value="VIEWCOUNT">ViewCount</mat-option>
                    </mat-select>
                    <mat-label>Trier par</mat-label>
                </mat-form-field>
                <button mat-raised-button color="primary" class="button-search" (click)="sendToSearch()">
                    <mat-icon>search</mat-icon>
                </button>
            </form>
           
        </mat-expansion-panel>

        <mat-expansion-panel  id="PREFERENCE AFFICHAGE" hideToggle class="mat-sub-expansion-panel" 
        [expanded]="panelOpenState === false"
        (opened)="panelOpenState = false"
        (closed)="panelOpenState = true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    PREFERENCE D'AFFICHAGE
                </mat-panel-title>
                <mat-panel-description>
                    nombre de colonne
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-icon>apps</mat-icon>
            <mat-icon>view_comfy</mat-icon>
            <mat-icon>grid_on</mat-icon>
            <mat-icon> list_alt</mat-icon>
            <mat-icon>view_list</mat-icon>
            <mat-icon>view_module</mat-icon>
            <mat-icon>view_column</mat-icon>
            <mat-slider [max]="8" [min]="1" [(ngModel)]="gridsize" (change)="updateGrid($event)" [thumbLabel]="true">
            </mat-slider>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Firestore</mat-radio-button>
                <mat-radio-button value="2">RealTime Database</mat-radio-button>
              </mat-radio-group>
              
        </mat-expansion-panel>

    </mat-expansion-panel>

</mat-accordion>