
.mat-expansion-panel {
    background: #3f51b5 !important;
}
.mat-sub-expansion-panel {
    background: white !important;
}

mat-radio-group {
    display: flex;
    flex-direction: row;
    margin: 9px 0 8px 15px;
}
mat-radio-button {
    margin: 5px;
}
mat-slider {
    margin-left: 15px;
}


// FORMAT inférieur à XS
@media (max-width:599px) {
    form {
        flex-direction: column;
    }
    .mat-form-field, form > .button-search {
        display:block;
        align-self:center;
    }
}

// FORMAT supérieur à SM
@media (min-width:600px) {
    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }
    .mat-form-field, form > .button-search {
        flex-grow: 0;
        align-self:center;
    }
}
