<mat-accordion>

    <mat-expansion-panel class="mat-expansion-panel">

        <mat-expansion-panel-header>
            <mat-panel-title>
                <img src="assets/VideoCenter.svg" alt="logo VideoCenter" width="200px" />
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-expansion-panel id="RECHERCHE YOUTUBE" hideToggle class="mat-sub-expansion-panel"
            [expanded]="panelOpenState === true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>Recherche sur youtube</mat-panel-title>
            </mat-expansion-panel-header>

            <form #myForm="ngForm">
                <mat-form-field>
                    <mat-label required>Recherche</mat-label>
                    <input matInput name="q" ngModel>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Resultat Max</mat-label>
                    <input matInput type="number" min="1" max="24" name="maxResults" [(ngModel)]="query.maxResults">
                </mat-form-field>

                <mat-form-field>
                    <mat-select name="order" [(ngModel)]="query.order">
                        <mat-option value="DATE">Date</mat-option>
                        <mat-option value="RATING">Rating</mat-option>
                        <mat-option value="RELEVANCE">Relevance default</mat-option>
                        <mat-option value="TITLE">Title</mat-option>
                        <mat-option value="VIDEOCOUNT">VideoCount</mat-option>
                        <mat-option value="VIEWCOUNT">ViewCount</mat-option>
                    </mat-select>
                    <mat-label>Trier par</mat-label>
                </mat-form-field>
                <button mat-raised-button color="primary" class="button-search" (click)="sendToSearch()">
                    <mat-icon>search</mat-icon>
                </button>
            </form>

        </mat-expansion-panel>

        <mat-expansion-panel id="PREFERENCE AFFICHAGE" hideToggle class="mat-sub-expansion-panel"
            [expanded]="panelOpenState === false" (opened)="panelOpenState = false" (closed)="panelOpenState = true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Préferences d'affichage
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-tab-group>
                <mat-tab label="Nombre de colonne">
                    <mat-slider [max]="8" [min]="1" [(ngModel)]="preference.matSliderValue" (change)="updateGrid($event)"
                        ></mat-slider>
                </mat-tab>
                <mat-tab label="Affichage en tableau">
                    <mat-radio-group [(ngModel)]="preference.switchTableCard">
                        <mat-radio-button value="TABLE">Tableau</mat-radio-button>
                        <mat-radio-button value="CARD">Cartes</mat-radio-button>
                    </mat-radio-group>
                </mat-tab>
                <mat-tab label="Choix Serveur">
                    <mat-radio-group [(ngModel)]="preference.switchBackEnd">
                        <mat-radio-button value="FIREBASE">Firebase</mat-radio-button>
                        <mat-radio-button value="LOCALHOST">Localhost</mat-radio-button>
                    </mat-radio-group>
                </mat-tab>
                <mat-tab label="Base de données">
                    <mat-radio-group [(ngModel)]="preference.switchDataBase">
                        <mat-radio-button value="FIRESTORE">Firestore</mat-radio-button>
                        <mat-radio-button value="REALTIME">Realtime</mat-radio-button>
                    </mat-radio-group>
                </mat-tab>
            </mat-tab-group>
            <button mat-raised-button color="primary" class="button-update" (click)="updatePref()">
                <mat-icon>update</mat-icon>
            </button>
        </mat-expansion-panel>

    </mat-expansion-panel>

</mat-accordion>
