<div>
  <app-search-input (gridsizeChange)='updateGridSize($event)' (search)="handleSearch($event)"
    (update)="handleUpdate($event)">
  </app-search-input>
  <div *ngIf="loading || !videos.length" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <app-table *ngIf="!loading && !searching" [videos]="videos" [preference]="preference" (refresh)="handleUpdate($event)">
  </app-table>
  <app-search-list *ngIf="!loading && searching" [videos]="videos" [gridColumns]="preference.matSliderValue"
    [extractWiki]="extractWiki" [preference]="preference">{{h1}}</app-search-list>
</div>