/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background: url("/assets/fond-abstrait.svg");
    background-size: cover;
    background-position: initial;
}

// FORMAT inférieur à XS
@media (max-width:599px) {
    .mat-drawer {
        width: 100%;
    }
    table {
        width: 100%;
    }
}

@import 'theme/material-custom.scss';