<div class="mini-player" [ngStyle]="{width: live ? '25rem;' : '2rem;'}">
  
  <audio [src]="streamSelected" #audio autoplay controls preload="auto" style="display: none">
    <source type="audio/mpeg" />
  </audio>

  <button (click)="onTooglePlay()" mat-mini-fab color="accent" aria-label="Example icon button with a bookmark icon">
    <mat-icon *ngIf="isPlaying">pause</mat-icon>
    <mat-icon *ngIf="!isPlaying">play_arrow</mat-icon>
  </button>

  <ng-container *ngIf="live">
    <button mat-icon-button color="accent" [matMenuTriggerFor]="belowMenu"><mat-icon>history</mat-icon></button>

    
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <ng-container *ngIf="historyGrid">
      <mat-selection-list #songs [multiple]="false" (selectionChange)="searchByHistory(songs.selectedOptions.selected[0]?.value)">
        <mat-list-option disabled>TITRES DIFFUSÉS (dans la dernière heure) :</mat-list-option>
        <mat-list-option *ngFor="let song of historyGrid" [value]="song">
          {{song.start*1000 | date: 'HH:mm'}} - {{song.track.title}} - {{song.track.performers.join(' & ')}}
        </mat-list-option>
      </mat-selection-list>
    </ng-container>
    </mat-menu>

    <button (click)="onSearch()" mat-icon-button color="accent" aria-label="Example icon button with a bookmark icon">
      <mat-icon>search</mat-icon>
    </button>
    <div class="row">
      <p class="countdown">{{ minutesLeft | number: '2.0' }} : {{ secondsLeft | number: '2.0' }}</p>
      <div class="track-live" #track>
        <div class="performers">{{ performers }}</div>
        <div class="title">{{ title }}</div>
      </div>
    </div>
  </ng-container>
</div>
