<ng-container *ngIf="!isMobile; else MobileView">
  <div #player class="player-desktop" [ngStyle]="{width: song ? '420px;' : '102px;'}">

    <ng-container #audioSource></ng-container>

    <ng-container *ngIf="song && player.style.width === '420px'">
      <button mat-icon-button color="accent" [matMenuTriggerFor]="belowMenu"><mat-icon>history</mat-icon></button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <ng-container *ngIf="grid">
          <mat-selection-list
            #songs
            [multiple]="false"
            (selectionChange)="searchByHistory(songs.selectedOptions.selected[0]?.value)"
          >
            <mat-list-option disabled>TITRES DIFFUSÉS (dans la dernière heure) :</mat-list-option>
            <mat-list-option *ngFor="let song of grid" [value]="song">
              {{ song.start * 1000 | date: 'HH:mm' }} - {{ song.title ? song.title : '' }} -
              {{ song.artist }}
            </mat-list-option>
          </mat-selection-list>
        </ng-container>
      </mat-menu>

      <button (click)="onSearch()" mat-icon-button color="accent" aria-label="Example icon button with a bookmark icon">
        <mat-icon>search</mat-icon>
      </button>

      <div class="row">
        <p class="countdown">{{ minutesLeft | number: '2.0' }} : {{ secondsLeft | number: '2.0' }}</p>
        <div class="track-live" #track>
          <div class="performers">{{ song.artist }}</div>
          <div class="title">{{ song.title ? song.title : '' }}</div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-template #MobileView>
  <ng-container>



    <div #player class="player-mobile row" [ngClass]="playerIsOpen ? 'open' : 'close'">

      <div class="row-center-center">
        <div class="col">
          <div class="radius-inverted bottom-right"></div>
          <div class="tab-icon row-center-center">
            <mat-icon (click)="playerIsOpen = !playerIsOpen">chevron_left</mat-icon>
          </div>
          <div class="radius-inverted top-right"></div>
        </div>
        <div class="tab-content">

          <div class="row-btn">
            <ng-container #audioSource></ng-container>

            <div *ngIf="song">
  
  
              <button mat-icon-button color="accent" [matMenuTriggerFor]="belowMenu"><mat-icon>history</mat-icon></button>
              <mat-menu #belowMenu="matMenu" yPosition="below">
                <ng-container *ngIf="grid">
                  <mat-selection-list
                    #songs
                    [multiple]="false"
                    (selectionChange)="searchByHistory(songs.selectedOptions.selected[0]?.value)"
                  >
                    <mat-list-option disabled>TITRES DIFFUSÉS (dans la dernière heure) :</mat-list-option>
                    <mat-list-option *ngFor="let song of grid" [value]="song">
                      {{ song.start * 1000 | date: 'HH:mm' }} - {{ song.title }} -
                      {{ song.artist }}
                    </mat-list-option>
                  </mat-selection-list>
                </ng-container>
              </mat-menu>
  
              <button
                (click)="onSearch()"
                mat-icon-button
                color="accent"
                aria-label="Example icon button with a bookmark icon"
              >
                <mat-icon>search</mat-icon>
              </button>
  
            </div>
          </div>


          <ng-container *ngIf="song">

            <div class="row-txt">
              <span class="station">{{ brandDTO.viewValue }}</span>
            </div>
            <div class="row-txt">
              <p class="countdown">{{ minutesLeft | number: '2.0' }} : {{ secondsLeft | number: '2.0' }}</p>
              <div class="track-live" #track>
                <div class="performers">{{ song.artist }}</div>
                <div class="title">{{ song.title }}</div>
              </div>
            </div>
          </ng-container>
  
        </div>
      </div>




    </div>

    <div class="backdrop" (click)="playerIsOpen = !playerIsOpen" [ngClass]="playerIsOpen ? 'open' : 'close'"></div>
  </ng-container>
</ng-template>
