<h1 mat-dialog-title>Dialog with elements</h1>
<mat-dialog-content class="mat-typography">
  <p>{{ video.description }}</p>
  <div class="container">
      <iframe class="responsive-iframe" [src]="video.sanitized" allowfullscreen frameborder="0">
      </iframe>
</div>

      <button mat-raised-button color="accent" (click)="openBottomSheet(video)"><mat-icon>settings</mat-icon></button>




</mat-dialog-content>

<!-- <mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-raised-button color="accent" (click)="addVideo(video)">+</button>
</mat-dialog-actions> -->
