.center{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding: 50px;
    background-color: #FFF;
    margin: 100px 50px;
}
.canvas {
    border: 2px solid;
    width: 400px;
    height: 100px;
}