.center{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.col {
    display:flex;
    flex-direction: column;
}
.canvas {
    border: 2px solid;
    width: 800px;
    height: 200px;
}
.f-stretch {
    align-self: stretch;
}
.row-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}