
<app-toolbar (update)="handleUpdate($event)"></app-toolbar>

<div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
</div>

<app-table *ngIf="!loading && !searching" [videos]="videos" [preference]="preference" (refresh)="handleUpdate($event)"></app-table>

<app-search *ngIf="!loading && searching" (search)="handleSearch($event)"></app-search>

<app-search-list *ngIf="!loading && searching" [videos]="videos" [gridColumns]="preference.matSliderValue"
    [extractWiki]="extractWiki" [preference]="preference" [query]="query" [discogs]="discogs"></app-search-list>