/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinner-container-loading {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    .spinner-border {
        width: 2rem;
        height: 2rem;
        border: 5px solid currentcolor;
        border-right-color: transparent;
        border-radius: 50%;
        animation: 0.75s linear infinite spinner-border;
    }
}
@keyframes spinner-border {
    100% {
        transform: rotate(360deg);
    }  
}

.bg-img {
    background: url("/assets/fond-abstrait.svg");
    background-size: cover;
    background-position: initial;
    height: 100%;
}

// FORMAT inférieur à XS
@media (max-width:599px) {
    .mat-drawer {
        width: 100%;
    }
    table {
        width: 100%;
    }
}

@import 'theme/material-custom.scss';
@import 'theme/button.scss';
@import 'theme/flexbox.scss';
@import 'theme/global.scss';
@import 'theme/spacing.scss';
@import 'theme/util.scss';
@import 'theme/variables.scss';