<mat-button-toggle-group #group="matButtonToggleGroup" (change)="change(group.value)">
  <mat-button-toggle checked value="allpass">
    <mat-icon>close</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="highpass">
    <mat-icon svgIcon="highpass"></mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="bandpass">
    <mat-icon svgIcon="bandpass"></mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="lowpass">
    <mat-icon svgIcon="lowpass"></mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<div>Selected value: {{ group.value }}</div>

