<mat-button-toggle-group #group="matButtonToggleGroup" (change)="onChangeType(group.value)">
  <mat-button-toggle checked value="allpass">
    <mat-icon>close</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="highpass">
    <mat-icon svgIcon="highpass"></mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="bandpass">
    <mat-icon svgIcon="bandpass"></mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="lowpass">
    <mat-icon svgIcon="lowpass"></mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<fieldset>
  <legend>XY Pad : {{ group.value }}</legend>
  <canvas
    #canvasfilter
    (mousedown)="onXYPad($event, 'start')"
    (mousemove)="onXYPad($event, 'move')"
    (touchstart)="onXYPad($event, 'start')"
    (touchmove)="onXYPad($event, 'move')"
  >
  </canvas>
</fieldset>
