.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 24px;
    padding: 4px !important;
}

.row {
    display: flex;
}

.canvasfilter {
    background-color: #424242;
}