.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.row-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.row-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.row-start-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.row-evenly-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.row-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.row-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.row-between-stretch {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.col-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col-between-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.col-start-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.col-start-stretch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.f-grow {
  flex-grow: 1;
}
.self-stretch {
  align-self: stretch;
}
.self-center {
  align-self: center;
}

$columns: 12; // number of columns in the grid system
@for $width from 1 through $columns {
  .col-#{$width} {
    flex-basis: calc(100% * (#{$width} / #{$columns}));
  }
}
