// from nebular
$blue: #3366ff;
$blue-active: #274bdb;
$blue-hover: #598bff;
$green: #00d68f;
$green-active: #00b887;
$green-hover: #2ce69b;
$orange: #ffaa00;
$orange-active: #db8b00;
$orange-hover: #ffc94d;
$red: #ff3d71;
$red-active: #db2c66;
$red-hover: #ff708d;
$gold: #ffd700;

// scale of greys
$grey-0: hsl(0, 0%, 0%);
$grey-10: hsl(0, 0%, 10%);
$grey-15: hsl(0, 0%, 15%);
$grey-20: hsl(0, 0%, 20%);
$grey-30: hsl(0, 0%, 30%);
$grey-40: hsl(0, 0%, 40%);
$grey-50: hsl(0, 0%, 50%);
$grey-60: hsl(0, 0%, 60%);
$grey-70: hsl(0, 0%, 70%);
$grey-80: hsl(0, 0%, 80%);
$grey-90: hsl(0, 0%, 90%);
$grey-91: hsl(0, 0%, 91%);
$grey-92: hsl(0, 0%, 92%);
$grey-93: hsl(0, 0%, 93%);
$grey-94: hsl(0, 0%, 94%);
$grey-95: hsl(0, 0%, 95%);
$grey-96: hsl(0, 0%, 96%);
$grey-97: hsl(0, 0%, 97%);
$grey-98: hsl(0, 0%, 98%);
$grey-99: hsl(0, 0%, 99%);
$grey-100: hsl(0, 0%, 100%);

