// from nebular
$blue: #3366ff;
$blue-active: #274bdb;
$blue-hover: #598bff;
$green: #00d68f;
$green-active: #00b887;
$green-hover: #2ce69b;
$orange: #ffaa00;
$orange-active: #db8b00;
$orange-hover: #ffc94d;
$red: #ff3d71;
$red-active: #db2c66;
$red-hover: #ff708d;
$gold: #ffd700;

// transparence ::after$transparent-default-bg: rgba(255, 255, 255, 0.08);
$transparent-active-bg: rgba(255, 255, 255, 0.24);
$transparent-hover-bg: rgba(255, 255, 255, 0.16);
$transparent-disabled-bg: rgba(143, 155, 179, 0.16);
$transparent-disabled-border: rgba(143, 155, 179, 0.24);
$transparent-disabled-text: rgba(143, 155, 179, 0.48);

// scale of greys
$grey-0: hsl(0, 0%, 0%);
$grey-10: hsl(0, 0%, 10%);
$grey-15: hsl(0, 0%, 15%);
$grey-20: hsl(0, 0%, 20%);
$grey-30: hsl(0, 0%, 30%);
$grey-40: hsl(0, 0%, 40%);
$grey-50: hsl(0, 0%, 50%);
$grey-60: hsl(0, 0%, 60%);
$grey-70: hsl(0, 0%, 70%);
$grey-80: hsl(0, 0%, 80%);
$grey-90: hsl(0, 0%, 90%);
$grey-91: hsl(0, 0%, 91%);
$grey-92: hsl(0, 0%, 92%);
$grey-93: hsl(0, 0%, 93%);
$grey-94: hsl(0, 0%, 94%);
$grey-95: hsl(0, 0%, 95%);
$grey-96: hsl(0, 0%, 96%);
$grey-97: hsl(0, 0%, 97%);
$grey-98: hsl(0, 0%, 98%);
$grey-99: hsl(0, 0%, 99%);
$grey-100: hsl(0, 0%, 100%);

// box-sadow btn, popover.
$box-shadow: 0px 0rem 5px 0px $grey-80;
//$box-shadow-sliding: -1px 1px 1px rgba(0, 0, 0, 0.32);
%box-shadow-active {
  filter: brightness(90%);
  box-shadow: 0 0 0 0.2rem $grey-95;
}

// input btn select.
$border-radius: 0.2rem;
$height: 26px;
$padding: 2px 4px;

// system color used
$color-primary: $green;
$color-dark: $grey-40;
$color-light: $grey-97;

// z-index.
$z-index-popover: 1070;