<section class="page-container">
  <div class="center col">
    <div class="row">
      <fieldset>
        <legend>Analyzer SineWave</legend>
        <app-node-sine-wave [source]="gainNode" [context]="audioCtx"></app-node-sine-wave>
      </fieldset>
      <fieldset>
        <legend>Analyzer FreqBars</legend>
        <app-node-freq-bars [source]="gainNode" [context]="audioCtx"></app-node-freq-bars>
      </fieldset>
      <fieldset>
        <legend>Eq</legend>
        <app-node-eq [source]="gainNode" [context]="audioCtx"></app-node-eq>
      </fieldset>
      <fieldset>
        <legend>Main</legend>
        <app-node-gain [source]="gainNode"></app-node-gain>
        <app-node-distortion [source]="gainNode" [context]="audioCtx"></app-node-distortion>
        <app-control-bpm></app-control-bpm>
      </fieldset>
      <fieldset>
        <legend>Effect</legend>
        <app-control-select [items]="effectList" [(selected)]="effectSelected"></app-control-select>
        <ng-container [ngSwitch]="effectSelected.label">
          <ng-container *ngSwitchCase="'highpass'">
            <app-node-filter [source]="gainNode" [context]="audioCtx" type="highpass"></app-node-filter>
          </ng-container>
          <ng-container *ngSwitchCase="'lowpass'">
            <app-node-filter [source]="gainNode" [context]="audioCtx" type="lowpass"></app-node-filter>
          </ng-container>
          <ng-container *ngSwitchCase="'Reverb'">
            <app-node-reverb [source]="gainNode" [context]="audioCtx"></app-node-reverb>
          </ng-container>
          <ng-container *ngSwitchCase="'Delay'">
            <app-node-delay [source]="gainNode" [context]="audioCtx"></app-node-delay>
          </ng-container>
        </ng-container>
      </fieldset>
    </div>

    <div class="row">
      <div class="col f-grow">
        <fieldset>
          <legend>Radio</legend>
          <app-node-radio [source]="gainNode" [context]="audioCtx"></app-node-radio>
        </fieldset>
        <fieldset>
          <legend>Oscillator</legend>
          <app-node-oscillator [source]="gainNode" [context]="audioCtx"></app-node-oscillator>
        </fieldset>
        <fieldset>
          <legend>Sample</legend>
          <button class="btn-outline" (click)="addNodeSample()">+</button>
          <app-node-sample [source]="gainNode" [context]="audioCtx"></app-node-sample>
          <ng-container #insertNodeSample></ng-container>
        </fieldset>
      </div>
    </div>
  </div>
</section>
